.top-container{
    background-color: #a7e0dc;
    position:relative;
    padding-top: 100px;
    font-family: 'Merriweather', serif;
}
body{
    margin: 0px;
    text-align: center;
}
h1{
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:#66BFBF
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.middle-container{

}
.bottom-container{
    color: #11999E;
   
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left:570px;
   bottom:300px;
}
.top-cloud{
    position:absolute;
    right:570px;
    top:50px;
    
}
.skill-row{
    width: 50%;
    margin: 200px auto 200px auto;
    text-align: left;
    line-height: 2;
}
.laptop{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chillie-img{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.dot{
    
}